#main-admin h1 {
    margin-top: 50px;
    margin-bottom: 50px;
}

#main-admin {
    display: flex;
}

#display-qtd-refeicao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
}

#qtd-refeicao {
    font-size: 60px;
}

#line {
    height: 3px;
    width: 100%;
    background-color: var(--verde);
}

#tipo-select {
    border-radius: 5px;
    text-align: center;
}

#buttons-admin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin-top: 50px;
}

#buttons-admin button {
    width: 100% !important;
}

.btn-green-light {
    background-color: var(--verde-claro);
    color: var(--branco);
    cursor: pointer;
}

#tipo-refeicao {
    font-size: 28px;
}

.accordion-collapse .item-refeicao-acordeao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25em;
}

.accordion-collapse .item-refeicao-acordeao span:last-child {
    color: var(--vermelho);
    user-select: none;
    cursor: pointer;
}

.accordion-collapse .botao-cadastrar {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1em;
}

.accordion-collapse .botao-cadastrar button {
    background-color: var(--verde-claro);
    color: white;
    width: 1em;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 720px) {
    #buttons-admin {
        width: 250px;
    }
}

#container-add-cardapio {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

#buttons-cardapio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 5%;
}

#buttons-cardapio .btn-green {
    width: 80%;
}

#buttons-cardapio #btn-close-cardapio {
    background-color: var(--vermelho);
    color: white;
    width: 15%;
}

#formulario-cardapio input {
    width: 100%;
}

#formulario-cardapio {
    width: 90%;
}

.item-input {
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
    padding: 5px 5px;
    font-size: 16px;
}

#modal-cardapio-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.31);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
}

#modal-cardapio {
    width: 90%;
    background-color: white;
    padding: 10px 20px;
}

#header-modal {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#header-modal h1 {
    font-size: 24px;
}

#header-modal span {
    color: red;
    cursor: pointer;
    font-weight: bold;
}

@media (min-width: 720px) {
    #buttons-cardapio {
        width: 400px;
    }

    #formulario-cardapio {
        width: 400px;
    }
}