.tela-home {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 25px;
    width: 100%;
    min-height: 100vh;
    background: rgb(11,129,30);
    background: linear-gradient(180deg, rgba(11,129,30,1) 0%, rgba(128,189,138,1) 7%, rgba(255,255,255,1) 20%);
}

.logo-home {
    width: 7em;
    height: 9em;
    margin: 7em 0 2em 0;
}

#title-home {
    font-size: 28px;
    text-align: center;
    margin-bottom: 50px;
}

.tela-home p {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--cinza);
    font-size: 20px;
}

.btn-green {
    background-color: var(--verde);
    color: var(--branco);
    cursor: pointer;
}

#login-btn {
    width: 100%;
    border: none;
}

#cardapio-container {
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 50px;
}

.tipos-select, .tipos-select-modal {
    background-color: #a2a2a290;
    padding: 10px 10px;
    font-size: 18px;
    border: none;
    margin-top: 10px;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    text-align: left;
    margin-top: 20px;
}

th, td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 14px;
}

th {
    background-color: #f5f5f5;
    font-weight: bold;
    text-transform: uppercase;
    width: 20%;
}

table {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}

table tr:last-child td {
    border-bottom: none;
}

table tr:first-child th {
    border-top: none;
}

tr:hover {
    background-color: #f9f9f9;
}

@media (min-width: 720px) {
    th, td {
        font-size: 18px;
    }

    #login-btn {
        max-width: 600px;
    }
}