@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');
@import url(login.css);
@import url(home.css);
@import url(setRefeicoes.css);


:root {
    --verde: #0B811E;
    --verde-claro: #23B53B;
    --azul: #2371B5;
    --vermelho: #CA1C23;
    --cinza: #A2A2A2;
    --branco: #FFFFFF;
    --fonte-texto: "Sofia Sans Condensed", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-texto);
}

