
<!DOCTYPE html>
<html lang="pr-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prato Certo</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div class="tela">
        <img class='logo' src="/static/img/logo if.png" alt="">
        <h1 class="title">SISTEMA DE GESTÃO DO REFEITÓRIO</h1>
        <p>Faça seu</p>
        <button class="login-btn">Login</button>
        <p>Ou veja o cardápio semanal</p>
        <div id="cardapio-container">
            <h2>Cardápio</h2>
            <select name="" id="tipos">
                <option value="cafe">Café da Manhã</option>
                <option value="almoco">Almoço</option>
                <option value="lanche">Lanche</option>
                <option value="janta">Janta</option>
            </select>
            <table>
                <tbody>
                    <tr>
                      <th scope="row">Domingo</th>
                      <td>Pão</td>
                    </tr>
                    <tr>
                      <th scope="row">Segunda-Feira</th>
                      <td>Biscoito</td>
                    </tr>
                    <tr>
                      <th scope="row">Terça-Feira</th>
                      <td>Bolacha</td>
                    </tr>
                    <tr>
                        <th scope="row">Quarta-Feira</th>
                        <td>Polenta</td>
                      </tr>
                      <tr>
                        <th scope="row">Quinta-Feira</th>
                        <td>Queijo</td>
                      </tr>
                      <tr>
                        <th scope="row">Sexta-Feira</th>
                        <td>Presunto</td>
                      </tr>
                      <tr>
                        <th scope="row">Sábado</th>
                        <td>Joelho de porco</td>
                      </tr>
                  </tbody>
            </table>
        </div>
    </div>
</body>
</html>